#guide,
#ticker-content, #masthead-appbar-container,
#masthead-positioner-height-offset,
#footer-container, .yt-masthead-logo-container,
#yt-masthead-user {
	display: none;
}

#yt-masthead::before, #yt-masthead::after {
	display:none!important;
}

#page {
	padding-left: 0!important;
}

#body-container {
	padding-bottom: 0!important;
}

#masthead-container {
	display: none;
}

#page-manager {
	margin-top: 0!important;
}

ytd-grid-video-renderer.selectedVideo ytd-thumbnail {
	border-bottom: 8px solid #03A9F4;
}

ytd-grid-video-renderer.selectedVideo #details {
	margin-top: -8px;
}

ytd-two-column-browse-results-renderer {
	width: 90%!important;
}

ytd-page-manager {
	margin-left: 0!important;
}

#spinner {
	bottom: 1vh;
    position: fixed;
    z-index: 10000;
    left: 1vh;
}