body {
	overflow: hidden;
}

#masthead-container {
	display: none;
}

#page-manager {
	margin-top: 64px;
}

ytd-search-sub-menu-renderer > #container, 
ytd-search-pyv-renderer, #masthead-container, #guide {
	display: none!important;
}

ytd-app {
	overflow-y: scroll;
	max-height: 100vh;
	
}