html {
	overflow: hidden;
}

.showHiddens body {
	overflow: scroll;
}

.ad-container {
	display: none;
}

.ytp-chrome-bottom {
	min-width: calc(100vw - 44px);
}

video {
	min-width: 100vw;
	min-height: calc(100vh - 5px);
	left: 0!important;
	top: 0!important;
	background-color: white;
}

#player-api {
	position: fixed;
	border: 20px solid white;
	left: -20px;
	top: -30px;
	right: 0;
	bottom: 0;
	margin-left: 0;
	min-width: 100vw;
	border-bottom: 0;
}

#player {
	max-width: none!important;
}

.showHiddens #player {
	display: none;
}

#masthead-positioner {
	display: none;
}

#masthead-positioner-height-offset {
	display: none;
}

.showHiddens #masthead-positioner {
	display: block;
}

.showHiddens #masthead-positioner-height-offset {
	display: block;
}

.yt-dialog-base {
	display: none;
}

#player-playlist,
#content,
#footer-container,
#feed-privacy-lb,
.alerts-wrapper {
	display: none;
}

.showHiddens #player-playlist,
.showHiddens #content,
.showHiddens #footer-container,
.showHiddens #feed-privacy-lb,
.showHiddens .alerts-wrapper {
	display: block;
}

#yt-ca-volumeBar {
	pointer-events: none;
	transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
	opacity: 0;
	transform: translateY(50px);
	position: fixed;
    top: calc(((100vh / 3) * 2) - 12.5px);
    left: calc((100vw / 2) - 250px);
    width: 500px;
    height: 25px;
    z-index: 1000000000000000000000;
    border: 5px solid #F44336;
    color: white;
    font-size: 175%;
    font-weight: bolder;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#yt-ca-volumeBar.visible {
	opacity: 1;
	transform: translateY(0);
}

#yt-ca-volumeBarBar {
	height: 100%;
    width: 100%;
    position: absolute;
    background-color: #F44336;
	transform: scaleX(0.5);
    transform-origin: 0 0;
	transition: transform 50ms ease-in;
	z-index: -1;
	top: 0;
}

#yt-ca-volumeBarNumber {
	text-align: center;
    position: relative;
    height: 100%;
	opacity: 10;
}

body.showHiddens {
	overflow: scroll;
}

.ytma_visualization_cont {
	position: absolute;
	z-index: 10000;
	bottom: 0;
	user-select: none;
	pointer-events: none;
	display: none;
}

body.showVisualizer .ytma_visualization_cont {
	display: block;
}

.ytma_visualization_bar {
	width: calc(1vw - 2px);
	height: calc(100vh - 35px);
	display: inline-block;
	margin: 0 1px;
	background-color: rgba(230, 230, 230, 0.5);
	will-change: transform;
	transform-origin: center bottom;
}

#yt-dialog-bg {
	display: none;
}