html {
	overflow: hidden;
}

.showHiddens body {
	overflow: scroll;
}

#masthead-container {
	display: none;
}

.showHiddens #masthead-container {
	display: block;
}

#page-manager, #top {
	margin-top: 0!important;
}

.showHiddens #page-manager {
	margin-top: 56px;
}

#comments, #meta, #report, #pla-shelf, #info, #messages,
#alerts, #related, #playlist, .video-ads, .ytp-ad-progress {
	display: none;
}

.ytp-endscreen-content {
	display: none;
}

video, #player {
	min-width: 100vw!important;
	min-height: 100vh!important;
	left: 0!important;
	top: 0!important;
	background-color: white;
}

video {
	top: -8px!important;
}

#player {
	position: absolute!important;
}

.showHiddens video, .showHiddens #player {
	display: none;
}

#yt-ca-volumeBar {
	pointer-events: none;
	transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
	opacity: 0;
	transform: translateY(50px);
	position: fixed;
    top: calc(((100vh / 3) * 2) - 12.5px);
    left: calc((100vw / 2) - 250px);
    width: 500px;
    height: 25px;
    z-index: 1000000000000000000000;
    border: 5px solid #F44336;
    color: white;
    font-size: 175%;
    font-weight: bolder;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#yt-ca-volumeBar.visible {
	opacity: 1;
	transform: translateY(0);
}

#yt-ca-volumeBarBar {
	height: 100%;
    width: 100%;
    position: absolute;
    background-color: #F44336;
	transform: scaleX(0.5);
    transform-origin: 0 0;
	transition: transform 50ms ease-in, background-color 50ms ease-in;
	z-index: -1;
	top: 0;
}

#yt-ca-volumeBarNumber {
	text-align: center;
    position: relative;
    height: 100%;
	opacity: 10;
}

body.showHiddens {
	overflow: scroll;
}

.ytma_visualization_cont {
	position: absolute;
	z-index: 10000;
	bottom: 0;
	user-select: none;
	pointer-events: none;
	display: none;
}

body.showVisualizer .ytma_visualization_cont {
	display: block;
}

.ytma_visualization_bar {
	width: calc(1vw - 2px);
	height: calc(100vh - 35px);
	display: inline-block;
	margin: 0 1px;
	background-color: rgba(230, 230, 230, 0.5);
	will-change: transform;
	transform-origin: center bottom;
}

#yt-dialog-bg {
	display: none;
}

iron-overlay-backdrop, ytd-popup-container {
	display: none!important;
}