@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Bold.ttf');
	font-weight: bold;
}

html {
	overflow: hidden;
	font-family: 'Roboto', 'Segoe UI';
}

body {
	margin: 0;
	padding: 0;
}

#views {
	display: flex;
	flex-direction: row;
	width: 300vw;
	transform: translateX(-100vw);
	transition: transform 500ms ease-in-out;
}

#views.youtubeSubscriptions {
	transform: translateX(0);
}

#views.ytmusic {
	transform: translateX(-100vw);
}

#views.youtubesearch {
	transform: translateX(-200vw);
}

#views.netflix {
	transform: translateX(-300vw);
}

#views > * {
	background-color: black;
	min-width: 100vw;
	height: calc(100vh + 15px);
	margin-top: -26px;
}

#ytmaWebview {
	width: 100vw;
	height: calc(100vh + 15px);
}

#netflixWebView {
	width: 100vw;
	height: 100vh;
}

#titleBar {
	display: flex;
	justify-content: space-between;
	height: 26px;
	display: flex;
	justify-content: flex-end;
	-webkit-app-region: drag;
	background-color: transparent;
	position: relative;
	z-index: 10000000;
}

#titleBar > div {
	width: 45px;
	height: 100%;
	background-color: inherit;
	display: flex;
	justify-content: center;
	margin-right: 1px;
	-webkit-app-region: no-drag;
	transition: background-color 250ms ease-in-out, transform 250ms ease-in-out;
	transform: translateY(0);
}

#minimize:hover, #maximize:hover, #fullscreen:hover {
	background-color: rgb(229, 229, 229);
}

.unFadeOnFocus {
	opacity: 0.4;
	transition: opacity 250ms ease-in-out;
}

#minimizeLine {
	background-color: black;
	height: 1px;
	width: 10px;
	margin-top: 13px;
}

#minimize:hover #minimizeLine {
	opacity: 1;
}

#maximize:hover #maximizeBox,
#maximize:hover #maximizeBoxes,
#close:hover #closeCross,
#fullscreen:hover #fullscreenImagesCont {
	opacity: 1;
}

#titleBar .unFadeOnFocus {
	opacity: 1;
}

#titleBar #close {
	margin-right: 0;
}

#titleBar #maximize {
    width: 45px;
}

#maximizeBoxCont, #maximizeBoxesCont {
	display: flex;
	justify-content: center;
	width: 100%;
	flex-direction: row;
	height: 100%;
}

#maximizeBox {
    width: 8px;
    height: 8px;
    border: 1px solid black;
    margin-top: 8px;
}

#maximizedBoxesCont {
    width: 100%;
    height: 100%;
    background-color: inherit;
}

#maximizeBoxes {
    width: 100%;
    height: 100%;
    background-color: inherit;
}

.maximizeBox {
    height: 7px;
    width: 7px;
    border: 1px solid black;
    position: absolute;
    margin-top: 9px;
    background-color: inherit;
    margin-left: 15px;
}

#maximizeBoxesFrontBox {
    margin-top: 7px;
    margin-left: 17px;
}

#close:hover {
	background-color: #E81123;
}

.closeCrossLine {
	stroke: black;
	opacity: 0.4;
}

#titleBar .closeCrossLine {
    stroke: black;
}

#close:hover .closeCrossLine {
    stroke: white;
}

#closeCross {
    margin-top: 4px;
}

#titleBar #maximizedBoxesCont {
	display: none;
}

#titleBar #maximizeBoxCont {
	display: flex;
}

#titleBar.maximized #maximizedBoxesCont {
	display: flex;
}

#titleBar.maximized #maximizeBoxCont {
	display: none;
}

#getSongDialogHorizontalCenter {
	z-index: 99999999;
	display: flex;
	justify-content: center;
	height: 100%;
	position: absolute;
	width: 100%;
	pointer-events: none;
}

#getSongDialogVerticalCenter {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

#getSongDialog {
	display: flex;
	background-color: transparent;
	height: 38px;
	color: white;
	margin-top: calc(((100vh / 3) * 2) - 19px);
	border: 5px solid #F44336;
	pointer-events: none;
	opacity: 0;
	transform: translateY(50px);
	transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
}

#getSongName {
	font-size: 200%;
	padding: 0 10px;
	background-color: rgb(244, 67, 54);
	border: none;
	color: white;
	font-weight: bold;
	text-shadow: rgb(0, 0, 0) -1px -1px 0px, rgb(0, 0, 0) 1px -1px 0px, rgb(0, 0, 0) -1px 1px 0px, rgb(0, 0, 0) 1px 1px 0px;
	width: 100%;
	max-width: none;
}

#getSongDownload {
	z-index: 9999;
	fill: white;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: #F44336;
	cursor: pointer;
}

#getSongNameCont {
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: #F44336;
}

#getSongDownload:hover {
	fill: rgb(220,220,220);
}

#getSongDialog.visible, #getSongDialog.hoverable:hover {
	opacity: 1;
	pointer-events: all;
	transform: translateY(0);
}

#youtubeSearchPageView {
	position: absolute;
	top: 0;
	left: 0;
	width: 460px;
	height: calc(100vh - 150px);
	margin-top: 70px;
	margin-left: calc(50vw - 235px);
	border: 5px solid #F44336;
}

#fullscreenLine {
    height: 12px;
    background-color: black;
    width: 1px;
    transform: rotate(45deg);
    margin-top: 8px;
}

.arrowLeftLine {
    height: 7px;
    background-color: black;
    width: 1px;
    position: absolute;
    transform: rotate(-22.5deg);
    margin-left: -2px;
}

.arrowRightLine {
    height: 7px;
    background-color: black;
    width: 1px;
    position: absolute;
    transform: rotate(22.5deg);
    margin-left: 2px;
}

#bottomLeftArrow {
    margin-top: 24px;
    margin-left: -9px;
    transform: rotate(225deg);
}

.fullscreenArrow {
    position: absolute;
}

#topRightArrow {
    margin-top: 6px;
    margin-left: 8px;
    transform: rotate(45deg);
}

#titleBar #enterFullscreen {
	display: block;
}

#titleBar #exitFullscreen {
	display: none;
}

#titleBar.fullscreen #enterFullscreen {
	display: none;
}

#titleBar.fullscreen #exitFullscreen {
	display: block;
}

#fullscreenImagesCont {
    margin-top: 8px;
}

#titleBar.fullscreen > div {
    transform: translateY(-26px);
}

#titleBar:hover div {
    transform: translateY(0);
}

#titleBar .closeCrossLine, #close:hover .closeCrossLine {
    opacity: 1;
}

.toast {
position: absolute;
	bottom: -100px;
	left: 0;
	z-index: 10000000;
	background-color: rgb(50, 50, 50);
	color: rgb(241, 241, 241);
	font-size: 14px;
	padding: 16px 18px;
	margin: 12px;
	transition: transform 200ms ease-in-out;
}

.toast div {
	display: inline-block;
	padding-left: 6px;
	padding-right: 6px;
}

.toast .toastButton {
	color: yellow;
	cursor: pointer;
	position: relative;
	text-transform: uppercase;
}

.toast .toastButton:active::before {
	background-color: rgba(0,0,0,.1);
	border-radius: 2px;
	bottom: -4px;
	content: ' ';
	left: -4px;
	margin: auto;
	padding: 4px;
	position: absolute;
	right: -4px;
	top: -4px;
	padding-right: 0;
}

.toast.visible {
	transform: translateY(-100px);
}

#spinnerCont {
	position: absolute;
	z-index: 10000;
	width: 100vw;
	height: 100vh;
	background-color: white;
	top: 0;
	left: 0;
	transition: opacity 500ms ease-in-out;
	pointer-events: all;
}

#setupCenterer {
	display: none;
	z-index: 100000;
	position: absolute;
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
}

#spinnerCont.hidden {
	opacity: 0;
	pointer-events: none;
}

#spinnerVerticalCenterer, #setupVerticalCenterer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

#spinnerHorizontalCenterer, #setupHorizontalCenterer {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#spinnerHorizontalCenterer {
	height: 100vh;
}

#netflixFullPageView {
	position: absolute;
	top: 0;
	display: none;
	opacity: 0;
	transition: opacity 250ms ease-in-out;
	pointer-events: none;
}

#netflixCont.showFullPage > #netflixFullPageView {
	display: block;
	opacity: 1;
	z-index: 10000;
	pointer-events: all;
}

#netflixWebview,
#youtubeSubsSubBoxView,
#youtubeSubsVideoView,
#youtubeSearchResultsView {
	width: 100vw;
	height: 100vh;
}

#youtubeSubsCont > #youtubeSubsVideoView {
	transition: transform 250ms ease-in;
}

#youtubeSubsCont.showVideo > #youtubeSubsVideoView {
	transform: translateY(-100vh);
}

#youtubeSearchCont.showVideo > #youtubeSearchVideoView {
	transform: translateY(-100vh);
}

#setupCont {
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	font-size: 200%;
	padding: 10px;
	border-radius: 5px;
	text-align: center;
}

#setupButton {
	color: white;
}

#searchDialog {
	display: none;
}

#youtubeSearchBarView {
	width: 100vw;
	height: 300px;
	z-index: 5;
	position: relative;
}

#youtubeSearchResultsView {
	position: relative;
}

#youtubeSearchVideoView {
	width: 100vw;
	height: 100vh;
	transition: transform 250ms ease-in,
		height 250ms ease-in;
	z-index: 100;
	position: relative;
}

#searchBarCenterer {
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: center;
	z-index: 100000;
	width: 100vw;
	transition: transform 250ms ease-in;
	pointer-events: none;
}

#youtubeSearchCont.searchHidden #searchBarCenterer {
	transform: translateY(-100%);	
}

#youtubeSearchCont.suggestionsHidden #suggestions {
	display: none;
}

#yt_inputFORM_1 {
    color: rgba(17, 17, 17, 0.4);
    display: flex;
    height: 30px;
    max-width: 656px;
    min-height: auto;
    min-width: auto;
    text-decoration: none solid rgba(17, 17, 17, 0.4);
    width: calc(100vw - 100px);
    column-rule-color: rgba(17, 17, 17, 0.4);
    perspective-origin: 328px 15px;
    transform-origin: 328px 15px;
    border: 0px none rgba(17, 17, 17, 0.4);
    flex: 1 1 1e-09px;
    font: normal normal normal normal 10px / normal Roboto, Arial, sans-serif;
    margin: 0px;
    outline: rgba(17, 17, 17, 0.4) none 0px;
}/*#yt_inputFORM_1*/

#yt_inputDIV_2 {
    bottom: 0px;
    box-shadow: rgb(238, 238, 238) 0px 1px 2px 0px inset;
    color: rgba(17, 17, 17, 0.4);
    display: flex;
    height: 24px;
    left: 0px;
    min-height: auto;
    min-width: auto;
    position: relative;
    right: 0px;
    text-decoration: none solid rgba(17, 17, 17, 0.4);
    top: 0px;
    width: 578px;
    column-rule-color: rgba(17, 17, 17, 0.4);
    align-items: center;
    perspective-origin: 295.5px 15px;
    transform-origin: 295.5px 15px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 1px solid rgb(204, 204, 204);
    border-right: 0px none rgba(17, 17, 17, 0.4);
    border-bottom: 1px solid rgb(204, 204, 204);
    border-left: 1px solid rgb(204, 204, 204);
    border-radius: 2px 0 0 2px;
    flex: 1 1 1e-09px;
    font: normal normal normal normal 10px / normal Roboto, Arial, sans-serif;
    outline: rgba(17, 17, 17, 0.4) none 0px;
    padding: 2px 6px;
}/*#yt_inputDIV_2*/

#yt_inputDIV_3 {
    color: rgba(17, 17, 17, 0.4);
    height: 24px;
    min-height: auto;
    min-width: auto;
    text-decoration: none solid rgba(17, 17, 17, 0.4);
    width: 578px;
    column-rule-color: rgba(17, 17, 17, 0.4);
    align-self: center;
    perspective-origin: 289px 12px;
    transform-origin: 289px 12px;
    border: 0px none rgba(17, 17, 17, 0.4);
    font: normal normal normal normal 10px / normal Roboto, Arial, sans-serif;
    outline: rgba(17, 17, 17, 0.4) none 0px;
}/*#yt_inputDIV_3*/

#yt_inputDIV_4 {
    box-sizing: border-box;
    color: rgba(17, 17, 17, 0.4);
    height: 24px;
    text-decoration: none solid rgba(17, 17, 17, 0.4);
    vertical-align: top;
    width: 578px;
    column-rule-color: rgba(17, 17, 17, 0.4);
    perspective-origin: 289px 12px;
    transform-origin: 289px 12px;
    border: 0px none rgba(17, 17, 17, 0.4);
    flex: 1 1 0%;
    font: normal normal normal normal 10px / normal Roboto, Arial, sans-serif;
    outline: rgba(17, 17, 17, 0.4) none 0px;
}/*#yt_inputDIV_4*/

#yt_inputDIV_9 {
    box-sizing: border-box;
    color: rgba(17, 17, 17, 0.4);
    height: 24px;
    text-decoration: none solid rgba(17, 17, 17, 0.4);
    unicode-bidi: isolate;
    width: 547px;
    column-rule-color: rgba(17, 17, 17, 0.4);
    perspective-origin: 273.5px 12px;
    transform-origin: 273.5px 12px;
    border: 0px none rgba(17, 17, 17, 0.4);
    font: normal normal normal normal 10px / normal Roboto, Arial, sans-serif;
    outline: rgba(17, 17, 17, 0.4) none 0px;
    overflow: hidden;
}/*#yt_inputDIV_9*/

#searchInput {
    box-sizing: content-box;
    color: rgb(17, 17, 17);
    height: 24px;
    max-width: 100%;
    text-decoration: none solid rgb(17, 17, 17);
    unicode-bidi: isolate;
    width: 547px;
    column-rule-color: rgb(17, 17, 17);
    perspective-origin: 273.5px 12px;
    transform-origin: 273.5px 12px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(17, 17, 17);
    flex: 1 1 1e-09px;
    font: normal normal normal normal 16px / 24px Roboto, Noto, sans-serif;
    outline: rgb(17, 17, 17) none 0px;
    padding: 0px;
}/*#searchInput*/

#yt_inputYT-ICON_17 {
    bottom: 0px;
    color: rgb(51, 51, 51);
    cursor: pointer;
    display: inline-flex;
    height: 20px;
    left: 0px;
    opacity: 0.6;
    position: relative;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgb(51, 51, 51);
    top: 0px;
    vertical-align: middle;
    width: 20px;
    column-rule-color: rgb(51, 51, 51);
    align-items: center;
    align-self: flex-start;
    justify-content: center;
    perspective-origin: 10px 10px;
    transform-origin: 10px 10px;
    fill: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 13.3333px / normal Arial;
	outline: rgb(51, 51, 51) none 0px;
	cursor: pointer;
	width: 65px;
	border: 1px solid rgb(211, 211, 211);
	background-color: rgb(248, 248, 248);
	border-radius: 0 2px 2px 0;
	margin: 0;
}/*#yt_inputYT-ICON_17*/

#searchBar {
	margin-top: 26px;
}

#searchBar > * {
	pointer-events: all;
}

#suggestions {
	padding: 16px 0;
	width: calc(100vw - 166px);
	max-width: 590px;
	background: #fff;
	border: 1px solid #ccc;
	border-top-color: #d9d9d9;
	border-top-style: solid;
	border-top-width: 1px;
	border-right-color: rgb(204, 204, 204);
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-color: rgb(204, 204, 204);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: rgb(204, 204, 204);
	border-left-style: solid;
	border-left-width: 1px;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	border-top-color: #d9d9d9;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	cursor: default;
}

.suggestion {
	font-weight: 16px;
	padding: 4px 24px 4px 10px;
	outline: none;
	cursor: pointer;
}

.suggestion.selected, .suggestion:active {
	background-color: rgb(238, 238, 238);
}

#searchButton {
	background-color: rgb(248,248,248);
    border: 1px solid rgb(211, 211, 211);
    border-radius: 0 2px 2px 0;
	width: 65px;
	cursor: pointer;
}

#searchButton:hover {
	background-color: rgb(240,240,240);
    border: 1px solid rgb(198, 198, 198);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.10);
}

.suggestionPart {
	font-weight: bold;
}

.youtubeAddedVideoContainer {
    position: absolute;
    z-index: 1000;
    right: 25px;
    bottom: 20px;
    height: 202px;
    width: 315px;
    background-color: #E0F7FA;
    transition: transform 400ms ease-in;
    transform: translateX(50vw);
}

.youtubeAddedVideoImageContainer {
	padding: 15px 15px 0 15px;
}

.youtubeAddedVideoImage {
    height: 160px;
}

.youtubeAddedVideoTitle {
    padding: 0 15px;
    font-weight: bold;
    text-overflow: ellipsis;
    height: 21px;
    overflow: hidden;
    white-space: nowrap;
}

.youtubeAddedVideoNextText {
    font-weight: bold;
    font-size: 150%;
    padding-left: 15px;
    padding-top: 5px;
}

.youtubeAddedVideoContainer.visible {
	transform: translateX(0);
}

.youtubeAddedVideoHiddenThumbnail {
	height: 160px;
	line-height: 160px;
	font-size: 100px;
	text-align: center;
	background-color: #303030;
	color: #D8D8D8;
	width: 284.4px;
}

.promptContainer {
    position: absolute;
    top: calc((100vh - 302px) / 2);
    left: calc((100vw - 454px) / 2);
    z-index: 1000000000;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    padding: 20px 20px 5px 20px;
    background-color: white;
    transition: transform 500ms ease-in;
    transform: translateY(-100vh);
}

.promptTitle {
    font-weight: bold;
    font-size: 150%;
}

.promptButtons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.promptOkButton {
    padding: 14px 10px;
    text-transform: uppercase;
    position: relative;
    min-width: 60px;
    text-align: center;
    font-size: 120%;
    color: rgb(38, 153, 244);
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.promptAPIKeyText, .promptFirebaseConfigText {
    font-weight: 500;
    font-size: 110%;
}

.promptInputs > * {
    margin-top: 10px;
}

.promptInputs {
    margin-top: 20px;
}

.promptAPIKeyInput, .promptFirebaseConfigInput {
    width: 400px;
    padding: 5px;
    resize: none;
}

.promptContainer.visible {
    transform: translateY(0);
}

.promptOkButton:active {
    font-weight: bold;
}

.hideTagline #loadingPageBottomText {
	display: none;
}

#loadingPageBottomText {
	display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 200%;
	margin-top: 20px;
	user-select: none;
}